h1 {
  font-size: 50px;
}

body {
  background-image: url("BG2.png");
  background-size: cover;
  background-attachment: fixed;
}

section {
  margin: 25px 0;
}

/* -----NAVBAR----- */
nav a {
  color: white;
}

nav a:hover {
  color: white;
}

.brand-logo {
  width: 50px;
  height: 50px;
}

/* -----INDEX PAGE----- */
.arrow-right {
  position: absolute;
  display: block;
  top: -150px;
  left: 65px;
}

.arrow-left {
  position: absolute;

  display: block;
  top: -150px;
  left: 100px;
}

.index-box {
  margin-top: 25vh;
  text-align: center;
  color: grey;
}

/* -----SIGNUP & LOGIN PAGE----- */
.signup-login {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

/* -----USER PROFILE----- */
.user-profile {
  color: grey;
}

.btn-profile {
  color: grey;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

/* -----CENTER LIST PAGE----- */
.btn-dets {
  color: grey;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

.center-card {
  margin: 15px 0;
}

.center-card img {
  border-radius: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.list-group {
  max-height: 85vh;
  margin-bottom: 10px;
  overflow: scroll;
}

.center-details {
  width: 100%;
}

/* -----ADOPTION PAGE----- */
.dog-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.dog-card {
  text-align: center;
  margin-bottom: 20px;
}

.dog-modal img {
  width: 100%;
  height: 100%px;
}

.center-dogCard img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.dog-section {
  max-height: 50vh;
  margin-bottom: 10px;
  overflow: scroll;
}

.dog-section2 {
  max-height: 75vh;
  margin-bottom: 10px;
  overflow: scroll;
}

.calendar-container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}


